{% extends 'base.html' %}

{% block add_card%}


{% for pet in pets %}


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card-group  mt-4">
    <div class="card round test" style="border: 3px solid rgba(243, 101, 219, 0.28);">
        <img src={{pet.photo_url}} class="card-img-top shadow round p-2" style="border: 4px solid rgba(243, 101, 219, 0.28); background-color: lightyellow; " /> <!--style="border: 3px solid tan; background-color: rgba(243, 106, 101, 0.28);"  alt="..."-->
        <div class="card-body round">
            <div class=" p-3 colorme shadow">
                <h5 class="card-title text-center text-primary"> {{pet.name}}  </h5>
                <h6 class="text-success card-title text-center"> {% if pet.available %} ✔️ Available Now!{% endif %}</h6>



                Our buddy {{pet.name}} is excited to meet you! This {{pet.species}} is {{pet.age}}!
                {{pet.notes}}

                </p>
                <h6 class="text-success card-title text-center "> {% if pet.age %} <i class="fa-solid fa-cake-candles" style="color: #e029c8;"></i>  {{pet.age}} years old! {% endif %}</h6>

                <div class="row justify-content-center mt-2 ">

                    <div id="icon_holder" class="col-6 test round">
                        <div class="row justify-content-center">
                            <i id="{{pet.id}}" class="species-icon fa-solid fa-shield-cat m-2 options-icons pt-2 pb-2" style="color: darkmagenta;"></i>
                            <i class="notes-icon fa-solid fa-clipboard m-2 options-icons pt-2 pb-2 " style="color: #e029c8;"></i>
                            <i class="bday-icon fa-solid fa-cake-candles m-2 options-icons pt-2 pb-2" style="color: darkmagenta;"></i>
                            <i class="edit-icon fa-solid fa-pen-to-square m-2 options-icons pt-2 pb-2" style="color: #e029c8;"></i>

                        </div>


                    </div>

                </div>



            </div>

            <div class="row justify-content-center ">
                <a href="/pets/{{pet.id}}" class=" btn btn-primary shadow mt-2 rounded">Go to {{pet.name}}'s profile!</a>
            </div>

        </div>
        <span class="" id="pop_form"></span>
    </div>
    
</div>




{% endfor %}

{% endblock %}

test